<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="empDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\myung\Documents\202405\C#\EmployeeManagement\EmployeeManagement\EmpDB.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>